In [ ]:
!pip install yfinance
!pip install yahoofinancials

In [ ]:
import yfinance as yf
from yahoofinancials import YahooFinancials

In [ ]:
ticker = 'TTM'
yahoo_financials = YahooFinancials(ticker)
stock = yf.download(tickers=f"{ticker}", start="2020-01-01", end="2022-03-30", progress=False)
stock.tail()

                 Open       High        Low      Close  Adj Close   Volume
Date
2022-03-23  28.049999  28.570000  28.049999  28.150000  28.150000   608500
2022-03-24  28.330000  28.650000  28.170000  28.580000  28.580000   685600
2022-03-25  28.330000  28.410000  28.000000  28.400000  28.400000   505700
2022-03-28  28.440001  28.700001  28.270000  28.540001  28.540001   329900
2022-03-29  28.990000  29.590000  28.990000  29.150000  29.150000  1183500

In [ ]:
ticker = yf.Ticker(f"{ticker}")
ticker.info

{'52WeekChange': 0.50395644,
 'SandP52WeekChange': -0.0445475,
 'address1': 'Shivasagar Estate',
 'address2': 'A Block Dr. Annie Besant Road Worli',
 'algorithm': None,
 'annualHoldingsTurnover': None,
 'annualReportExpenseRatio': None,
 'ask': 0,
 'askSize': 1100,
 'averageDailyVolume10Day': 614700,
 'averageVolume': 655024,
 'averageVolume10days': 614700,
 'beta': 2.08547,
 'beta3Year': None,
 'bid': 0,
 'bidSize': 800,
 'bookValue': 581.865,
 'category': None,
 'circulatingSupply': None,
 'city': 'Mumbai',
 'coinMarketCapLink': None,
 'companyOfficers': [],
 'country': 'India',
 'currency': 'USD',
 'currentPrice': 30.41,
 'currentRatio': None,
 'dateShortInterest': 1659052800,
 'dayHigh': 30.46,
 'dayLow': 29.86,
 'debtToEquity': 297.724,
 'dividendRate': None,
 'dividendYield': None,
 'earningsGrowth': None,
 'earningsQuarterlyGrowth': None,
 'ebitda': 119108452352,
 'ebitdaMargins': 0.041939996,
 'enterpriseToEbitda': 7.886,
 'enterpriseToRevenue': 0.331,
 'enterpriseValue': 939320279040,
 'exDividendDate': 1468454400,
 'exchange': 'NYQ',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'expireDate': None,
 'fiftyDayAverage': 27.6484,
 'fiftyTwoWeekHigh': 35.38,
 'fiftyTwoWeekLow': 18.48,
 'financialCurrency': 'INR',
 'fiveYearAverageReturn': None,
 'fiveYearAvgDividendYield': None,
 'floatShares': 433139817,
 'forwardEps': 4.64,
 'forwardPE': 6.5538793,
 'freeCashflow': None,
 'fromCurrency': None,
 'fullTimeEmployees': 73608,
 'fundFamily': None,
 'fundInceptionDate': None,
 'gmtOffSetMilliseconds': '-14400000',
 'grossMargins': 0.39997002,
 'grossProfits': 1132875900000,
 'heldPercentInsiders': 0,
 'heldPercentInstitutions': 0.046350002,
 'impliedSharesOutstanding': 0,
 'industry': 'Auto Manufacturers',
 'isEsgPopulated': False,
 'lastCapGain': None,
 'lastDividendDate': 1468454400,
 'lastDividendValue': 0.015,
 'lastFiscalYearEnd': 1648684800,
 'lastMarket': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'logo_url': 'https://logo.clearbit.com/tatamotors.com',
 'longBusinessSummary': 'Tata Motors Limited designs, develops, manufactures, and sells various automotive vehicles. The company offers passenger cars; sports utility vehicles; intermediate and light commercial vehicles; small, medium, and heavy commercial vehicles; defense vehicles; pickups, wingers, buses, and trucks; and electric vehicles, as well as related spare parts and accessories. It also manufactures engines for industrial and marine applications; aggregates comprising axles and transmissions for commercial vehicles; and factory automation equipment, as well as provides information technology and vehicle financing services. The company offers its products under the Tata, Daewoo, Harrier, Safari, Fiat, Nexon, Altroz, Punch, Tiago, Tigor, Jaguar, and Land Rover brands. It operates in India, China, the United States, the United Kingdom, rest of Europe, and internationally. The company was formerly known as Tata Engineering and Locomotive Company Limited and changed its name to Tata Motors Limited in July 2003. Tata Motors Limited was incorporated in 1945 and is headquartered in Mumbai, India.',
 'longName': 'Tata Motors Limited',
 'market': 'us_market',
 'marketCap': 23292112896,
 'maxAge': 1,
 'maxSupply': None,
 'messageBoardId': 'finmb_874652',
 'morningStarOverallRating': None,
 'morningStarRiskRating': None,
 'mostRecentQuarter': 1656547200,
 'navPrice': None,
 'netIncomeToCommon': -119971495936,
 'nextFiscalYearEnd': 1711843200,
 'numberOfAnalystOpinions': 2,
 'open': 29.95,
 'openInterest': None,
 'operatingCashflow': None,
 'operatingMargins': 0.00244,
 'payoutRatio': 0,
 'pegRatio': None,
 'phone': '91 22 6757 7200',
 'preMarketPrice': None,
 'previousClose': 29.76,
 'priceHint': 2,
 'priceToBook': 0.052262984,
 'priceToSalesTrailing12Months': 0.008201973,
 'profitMargins': -0.04225,
 'quickRatio': None,
 'quoteType': 'EQUITY',
 'recommendationKey': 'buy',
 'recommendationMean': 2.5,
 'regularMarketDayHigh': 30.46,
 'regularMarketDayLow': 29.86,
 'regularMarketOpen': 29.95,
 'regularMarketPreviousClose': 29.76,
 'regularMarketPrice': 30.41,
 'regularMarketVolume': 384776,
 'returnOnAssets': None,
 'returnOnEquity': None,
 'revenueGrowth': 0.083,
 'revenuePerShare': 3708.145,
 'revenueQuarterlyGrowth': None,
 'sector': 'Consumer Cyclical',
 'sharesOutstanding': 765936000,
 'sharesPercentSharesOut': 0.0050999997,
 'sharesShort': 3888935,
 'sharesShortPreviousMonthDate': 1656547200,
 'sharesShortPriorMonth': 4138868,
 'shortName': 'Tata Motors Ltd Tata Motors Lim',
 'shortPercentOfFloat': None,
 'shortRatio': 6.77,
 'startDate': None,
 'strikePrice': None,
 'symbol': 'TTM',
 'targetHighPrice': 36.19,
 'targetLowPrice': 32,
 'targetMeanPrice': 34.1,
 'targetMedianPrice': 34.1,
 'threeYearAverageReturn': None,
 'toCurrency': None,
 'totalAssets': None,
 'totalCash': 630250995712,
 'totalCashPerShare': 822.961,
 'totalDebt': 1491071664128,
 'totalRevenue': 2839818272768,
 'tradeable': False,
 'trailingAnnualDividendRate': 0,
 'trailingAnnualDividendYield': 0,
 'trailingEps': -1.915,
 'twoHundredDayAverage': 29.7123,
 'volume': 384776,
 'volume24Hr': None,
 'volumeAllCurrencies': None,
 'website': 'https://www.tatamotors.com',
 'yield': None,
 'ytdReturn': None,
 'zip': '400018'}

In [ ]:
# Obtain income statements
yahoo_financials.get_financial_stmts('annual', 'income')

{'incomeStatementHistory': {'TTM': [{'2022-03-31': {'costOfRevenue': 1651660300000,
     'discontinuedOperations': None,
     'ebit': 21022400000,
     'effectOfAccountingCharges': None,
     'extraordinaryItems': None,
     'grossProfit': 1132875900000,
     'incomeBeforeTax': -70774700000,
     'incomeTaxExpense': 42312900000,
     'interestExpense': -84159600000,
     'minorityInterest': 42710600000,
     'netIncome': -114414700000,
     'netIncomeApplicableToCommonShares': -114414700000,
     'netIncomeFromContinuingOps': -113087600000,
     'nonRecurring': None,
     'operatingIncome': 21022400000,
     'otherItems': None,
     'otherOperatingExpenses': 414679900000,
     'researchDevelopment': 92095000000,
     'sellingGeneralAdministrative': 356721700000,
     'totalOperatingExpenses': 2763513800000,
     'totalOtherIncomeExpenseNet': -91797100000,
     'totalRevenue': 2784536200000}},
   {'2021-03-31': {'costOfRevenue': 1454775500000,
     'discontinuedOperations': None,
     'ebit': 89267100000,
     'effectOfAccountingCharges': None,
     'extraordinaryItems': None,
     'grossProfit': 1043172000000,
     'incomeBeforeTax': -108532400000,
     'incomeTaxExpense': 25418600000,
     'interestExpense': -72689300000,
     'minorityInterest': 15734900000,
     'netIncome': -134513900000,
     'netIncomeApplicableToCommonShares': -134513900000,
     'netIncomeFromContinuingOps': -133951000000,
     'nonRecurring': None,
     'operatingIncome': 89267100000,
     'otherItems': None,
     'otherOperatingExpenses': 345840400000,
     'researchDevelopment': 52266300000,
     'sellingGeneralAdministrative': 320331100000,
     'totalOperatingExpenses': 2408680400000,
     'totalOtherIncomeExpenseNet': -197799500000,
     'totalRevenue': 2497947500000}},
   {'2020-03-31': {'costOfRevenue': 1499248800000,
     'discontinuedOperations': None,
     'ebit': 2839900000,
     'effectOfAccountingCharges': None,
     'extraordinaryItems': None,
     'grossProfit': 1117557400000,
     'incomeBeforeTax': -115799800000,
     'incomeTaxExpense': 3952500000,
     'interestExpense': -62900000000,
     'minorityInterest': 8135600000,
     'netIncome': -120708500000,
     'netIncomeApplicableToCommonShares': -120708500000,
     'netIncomeFromContinuingOps': -119752300000,
     'nonRecurring': None,
     'operatingIncome': 2839900000,
     'otherItems': None,
     'otherOperatingExpenses': 478049900000,
     'researchDevelopment': 41884900000,
     'sellingGeneralAdministrative': 380528400000,
     'totalOperatingExpenses': 2613966300000,
     'totalOtherIncomeExpenseNet': -118639700000,
     'totalRevenue': 2616806200000}},
   {'2019-03-31': {'costOfRevenue': 1779069700000,
     'discontinuedOperations': None,
     'ebit': 37740300000,
     'effectOfAccountingCharges': None,
     'extraordinaryItems': None,
     'grossProfit': 1246528100000,
     'incomeBeforeTax': -311616500000,
     'incomeTaxExpense': -24374500000,
     'interestExpense': -44960500000,
     'minorityInterest': 5230600000,
     'netIncome': -288262300000,
     'netIncomeApplicableToCommonShares': -288262300000,
     'netIncomeFromContinuingOps': -287242000000,
     'nonRecurring': None,
     'operatingIncome': 37740300000,
     'otherItems': None,
     'otherOperatingExpenses': 510900800000,
     'researchDevelopment': 42245700000,
     'sellingGeneralAdministrative': 419735000000,
     'totalOperatingExpenses': 2987857500000,
     'totalOtherIncomeExpenseNet': -349356800000,
     'totalRevenue': 3025597800000}}]}}